.page {
  background-color: #ffffff;
  border-radius: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.space-y-43 > *:not(:first-child) {
  margin-top: 2.69rem;
}
.group {
  padding: 1rem 0.88rem 0.94rem 1.94rem;
}
.text {
  color: #080808;
  font-size: 0.94rem;
  font-family: SFUIDisplay;
  line-height: 0.81rem;
}
.image {
  width: 1.06rem;
  height: 0.75rem;
}
.image_2 {
  width: 1rem;
  height: 0.75rem;
}
.image_3 {
  width: 1.56rem;
  height: 0.75rem;
}
.group_2 {
  padding-top: 0.88rem;
}
.group_3 {
  padding: 0 1rem;
}
.text_2 {
  color: #343434;
  font-size: 1.13rem;
  font-family: PingFang SC Bold;
  line-height: 1.06rem;
}
.group_4 {
  margin: 0.19rem 0.31rem 0.13rem 0;
}
.space-x-4 > *:not(:first-child) {
  margin-left: 0.25rem;
}
.font_1 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.75rem;
  color: #9a9a9a;
}
.text_3 {
  color: #343434;
}
.image_4 {
  margin-bottom: 0.13rem;
  flex-shrink: 0;
  width: 0.38rem;
  height: 0.56rem;
}
.section {
  margin: 1.31rem 1rem 0;
  padding: 0.69rem 0.94rem;
  background-color: #f3f3f6;
  border-radius: 0.5rem;
}
.space-x-5 > *:not(:first-child) {
  margin-left: 0.31rem;
}
.image_5 {
  width: 0.88rem;
  height: 0.88rem;
}
.text_4 {
  color: #999999;
  font-size: 0.88rem;
  font-family: PingFang SC Regular;
  line-height: 0.88rem;
}
.equal-division {
  margin-top: 1.19rem;
  padding: 0 0.81rem;
}
.space-x-9 > *:not(:first-child) {
  margin-left: 0.56rem;
}
.equal-division-item {
  flex: 1 1 5.44rem;
  padding: 0.19rem 0 0.38rem;
}
.space-y-3 > *:not(:first-child) {
  margin-top: 0.19rem;
}
.image_6 {
  width: 3rem;
  height: 3rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: PingFangSC;
  line-height: 0.69rem;
  color: #333333;
}
.text_5 {
  font-size: 0.69rem;
}
.image_7 {
  border-radius: 0px;
  width: 3rem;
  height: 3rem;
}
.text_6 {
  font-size: 0.69rem;
}
.text_7 {
  font-size: 0.69rem;
  line-height: 0.63rem;
}
.text_8 {
  font-size: 0.69rem;
}
.group_5 {
  margin-top: 1.56rem;
  padding-left: 1rem;
}
.space-y-21 > *:not(:first-child) {
  margin-top: 1.31rem;
}
.group_6 {
  padding-top: 0.69rem;
  position: relative;
}
.section_2 {
  background-color: #71a3feb3;
  border-radius: 0px;
  width: 4rem;
  height: 0.25rem;
}
.font_3 {
  font-size: 0.94rem;
  font-family: PingFang SC Bold;
  line-height: 0.94rem;
  color: #343434;
}
.text_9 {
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.group_7 {
  position: relative;
}
.space-x-24 > *:not(:first-child) {
  margin-left: 1.5rem;
}
.equal-division-item_2 {
  flex: 1 1 6.5rem;
  padding: 1.13rem 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0.25rem 1.13rem #261f4d0f;
  border-radius: 0.5rem;
  height: 7.06rem;
  position: relative;
}
.font_4 {
  font-size: 1.44rem;
  font-family: DINPro;
  line-height: 1.19rem;
  font-weight: 700;
  color: #ec615a;
}
.text_10 {
  margin-top: 1.19rem;
}
.text_11 {
  margin-top: 0.69rem;
}
.section_3 {
  background-color: #ffffff;
  box-shadow: 0px 0.25rem 1.13rem #261f4d0f;
  border-radius: 0.5rem 0 0 0.5rem;
  height: 7.06rem;
  position: absolute;
  left: 22.13rem;
  right: 0;
  top: 0;
}
.image_8 {
  margin: 1.5rem 1rem 0;
  width: 21.44rem;
  height: 5.63rem;
}
.view {
  margin-top: 1.5rem;
}
.group_8 {
  padding-bottom: 1.13rem;
}
.group_9 {
  margin: 0.25rem 0 0.19rem;
  padding-top: 0.69rem;
  width: 4.06rem;
  position: relative;
}
.text_12 {
  font-size: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.text-wrapper {
  padding: 0.38rem 0 0.31rem;
  background-color: #1b78f81a;
  border-radius: 0.69rem;
  width: 3.38rem;
  height: 1.38rem;
}
.text_13 {
  color: #1b78f8;
  font-size: 0.69rem;
}
.section_4 {
  padding: 1.19rem 1rem 1.06rem;
  background-color: #ffffff;
  box-shadow: 0px 0.25rem 1.13rem #261f4d0f;
  border-radius: 0.5rem;
}
.space-x-7 > *:not(:first-child) {
  margin-left: 0.44rem;
}
.font_5 {
  font-size: 0.94rem;
  font-family: PingFang SC Bold;
  line-height: 0.94rem;
  color: #333333;
}
.text-wrapper_2 {
  padding: 0.13rem 0 0.063rem;
  background-color: #e7f1ff;
  border-radius: 0.13rem;
  height: 0.88rem;
}
.text_14 {
  margin-left: 0.25rem;
  margin-right: 0.19rem;
  color: #1b78f8;
  font-size: 0.63rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
}
.group_10 {
  margin-top: 1.19rem;
  padding: 0 0.063rem;
}
.text_15 {
  margin: 0.13rem 0 0.19rem 2.69rem;
  font-size: 0.88rem;
  line-height: 0.88rem;
}
.group_11 {
  margin-top: 0.69rem;
}
.text_16 {
  margin-right: 3.81rem;
  line-height: 0.81rem;
}
.equal-division_2 {
  padding: 0.38rem 0 2.38rem;
  background-color: #ffffff;
  box-shadow: 0px -0.19rem 0.56rem #261f4d0f;
  border-radius: 0px;
}
.equal-division-item_3 {
  flex: 1 1 5.88rem;
  padding: 0.38rem 0 0.31rem;
}
.space-y-5 > *:not(:first-child) {
  margin-top: 0.31rem;
}
.image_9 {
  width: 1rem;
  height: 1rem;
}
.font_6 {
  font-size: 0.63rem;
  font-family: PingFangSC;
  letter-spacing: -0.015rem;
  line-height: 0.44rem;
  color: #bbbabf;
}
.text_17 {
  color: #1b78f8;
}