.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.header {
  padding: 1.5rem 1.25rem 0.88rem;
  height: 3.81rem;
}
.image_2 {
  margin: 0.25rem 0;
  width: 0.94rem;
  height: 0.94rem;
}
.image {
  flex-shrink: 0;
  width: 1.44rem;
  height: 1.44rem;
}
.text {
  align-self: center;
  color: #060dd9;
  font-size: 0.75rem;
  font-family: Poppins;
  font-weight: 600;
  line-height: 0.56rem;
}
.image_3 {
  margin: 0.19rem 0 0.13rem;
  width: 1.06rem;
  height: 1.13rem;
}
.group {
  padding-top: 0.69rem;
  flex: 1 1 auto;
  height: 42.44rem;
  overflow-y: auto;
}
.section {
  padding-left: 1.25rem;
  padding-top: 1.63rem;
  background-color: #f3f3ff;
  border-radius: 1.88rem 1.88rem 0 0;
}
.space-y-21 > *:not(:first-child) {
  margin-top: 1.31rem;
}
.font_1 {
  font-size: 0.88rem;
  font-family: Poppins;
  line-height: 0.66rem;
  font-weight: 600;
  color: #262626;
}
.text_2 {
  align-self: flex-start;
}
.equal-division {
  margin-right: 0.19rem;
}
.space-x-20 > *:not(:first-child) {
  margin-left: 1.25rem;
}
.equal-division-item {
  padding: 1.13rem 0;
  flex: 1 1 6.5rem;
  background-color: #ffffff;
  border-radius: 0.63rem;
  box-shadow: 0px 1.06rem 1.13rem #060dd90f;
  height: 4rem;
  position: relative;
}
.image_4 {
  width: 1.75rem;
  height: 1.75rem;
}
.equal-division-item_2 {
  padding: 1.31rem 0;
  flex: 1 1 6.5rem;
  background-color: #ffffff;
  border-radius: 0.63rem;
  height: 4rem;
}
.image_5 {
  opacity: 0.34;
  width: 2.44rem;
  height: 1.38rem;
}
.equal-division-item_3 {
  padding: 1.44rem 0 1.38rem;
  flex: 1 1 6.5rem;
  background-color: #ffffff;
  border-radius: 0.63rem;
  height: 4rem;
}
.image_6 {
  opacity: 0.34;
  width: 3.06rem;
  height: 1.19rem;
}
.group_2 {
  margin-top: 2.38rem;
}
.space-y-10 > *:not(:first-child) {
  margin-top: 0.63rem;
}
.text_3 {
  align-self: flex-start;
}
.space-x-13 > *:not(:first-child) {
  margin-left: 0.81rem;
}
.group_3 {
  flex: 1 1 10.69rem;
  padding-top: 0.63rem;
  position: relative;
}
.section_3 {
  padding: 9.5rem 1rem 1.13rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  box-shadow: 0px 0.31rem 0.5rem #060dd90d;
  width: 9.44rem;
  position: relative;
}
.image_9 {
  border-radius: 50%;
  width: 1.06rem;
  height: 1.06rem;
  position: absolute;
  right: 0.75rem;
  top: 0.81rem;
}
.font_2 {
  font-size: 0.63rem;
  font-family: Poppins;
  line-height: 0.44rem;
  color: #262626;
}
.font_3 {
  font-size: 0.63rem;
  font-family: Poppins;
  line-height: 0.56rem;
  font-weight: 600;
  color: #060dd9;
}
.text_4 {
  position: relative;
}
.text_5 {
  line-height: 0.47rem;
}
.text_7 {
  margin-top: 0.56rem;
}
.image_13 {
  margin-top: 0.38rem;
  width: 2.63rem;
  height: 0.38rem;
  position: relative;
}
.image_7 {
  border-radius: 1.5rem;
  width: 9.81rem;
  height: 10rem;
  position: absolute;
  right: 0;
  top: 0;
}
.image_8 {
  width: 8.38rem;
  height: 8.38rem;
  position: absolute;
  left: 0;
  top: 1.06rem;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.5rem;
}
.text_6 {
  line-height: 0.47rem;
}
.image_14 {
  width: 2.63rem;
  height: 0.38rem;
}
.section_2 {
  padding: 1.5rem 0.38rem;
  border-radius: 1.5rem;
  background-image: url('../../img/8081d446b26e21059c078bcc82bdb14b.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.image_12 {
  margin-top: 0.5rem;
  width: 6.13rem;
  height: 6.5rem;
}
.image_10 {
  margin-right: 2rem;
  border-radius: 50%;
  width: 1.06rem;
  height: 1.06rem;
}
.image_11 {
  margin-right: 1.63rem;
}
.group_4 {
  margin-top: 1.5rem;
}
.section_4 {
  padding: 1.5rem 0;
  border-radius: 1.5rem;
  background-image: url('../../img/da719352b8e82e2dac071b068043c7c8.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.image_15 {
  margin-top: 0.38rem;
  width: 6.22rem;
  height: 6.72rem;
}
.section_5 {
  padding: 1.5rem 0;
  border-radius: 1.5rem;
  background-image: url('../../img/a5a7d054116fe349a1c2b2054ec37077.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.space-x-8 > *:not(:first-child) {
  margin-left: 0.5rem;
}
.image-wrapper {
  padding-top: 0.88rem;
  align-self: center;
  background-color: #060dd9;
  box-shadow: 0px 0.44rem 0.63rem #060dd92e;
  border-radius: 50% 50% 0 0;
  width: 3.63rem;
  height: 2.56rem;
  border: solid 0.25rem #ffffff;
}
.image_16 {
  width: 1.19rem;
  height: 1.44rem;
}
.tab-bar {
  padding: 0.81rem 1.5rem 2rem 1.63rem;
  background-color: #ffffff;
  border-radius: 1.88rem 1.88rem 0px 0px;
}
.space-x-41 > *:not(:first-child) {
  margin-left: 2.56rem;
}
.image_17 {
  width: 1.69rem;
  height: 1.69rem;
}
.space-x-42 > *:not(:first-child) {
  margin-left: 2.63rem;
}