.page {
  background-color: #fdfdfd;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.section {
  padding-bottom: 0.063rem;
  background-color: #ffffff;
  border-radius: 0px 0px 3.13rem 3.13rem;
  box-shadow: 0px 0.5rem 1.13rem #7b7b7b29;
  border: solid 0.063rem #ffffff;
}
.section_2 {
  padding: 1.06rem 0.88rem 0 1.75rem;
  background-image: url('../../img/7cd4a810ecd194d96b66bbc48e18a800.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.space-y-246 > *:not(:first-child) {
  margin-top: 15.38rem;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.group {
  padding-left: 0.25rem;
}
.text {
  color: #080808;
  font-size: 0.94rem;
  font-family: SFUIDisplay-Semibold;
  font-weight: 600;
  line-height: 0.69rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.image {
  width: 1.06rem;
  height: 0.69rem;
}
.image_2 {
  width: 0.94rem;
  height: 0.69rem;
}
.image_3 {
  width: 1.5rem;
  height: 0.72rem;
}
.image_4 {
  width: 2.75rem;
  height: 2.75rem;
}
.image_5 {
  margin-right: 0.88rem;
}
.image_7 {
  margin-right: 0.88rem;
  align-self: flex-end;
  width: 2.13rem;
  height: 2.13rem;
}
.group_2 {
  margin-top: -3.69rem;
  padding: 0 1.63rem 1.06rem;
  position: relative;
}
.equal-division {
  align-self: flex-start;
}
.space-x-12 > *:not(:first-child) {
  margin-left: 0.75rem;
}
.equal-division-item {
  flex: 1 1 5.13rem;
  background-color: #9c9c92;
  border-radius: 1.25rem;
  box-shadow: 0px 0.38rem 0.75rem #33333333;
  width: 5.13rem;
  height: 5.13rem;
  border: solid 0.13rem #ffffff;
  position: relative;
}
.image_6 {
  width: 4.88rem;
  height: 4.88rem;
}
.group_3 {
  margin-top: 2.88rem;
  padding: 0 0.13rem;
}
.font_1 {
  font-size: 1.13rem;
  font-family: PingFang SC Bold;
  line-height: 1.03rem;
  font-weight: 700;
  color: #323232;
}
.text_2 {
  align-self: flex-start;
}
.image_8 {
  flex-shrink: 0;
  opacity: 0.7;
  width: 1.06rem;
  height: 1.06rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
  color: #323232;
}
.text_3 {
  opacity: 0.7;
}
.text_4 {
  margin: 0.19rem 0 0.19rem 0.25rem;
}
.group_4 {
  margin-right: 2.25rem;
}
.text_5 {
  margin: 0.19rem 0 0.19rem 0.25rem;
}
.text_6 {
  margin: 0.25rem 0 0.25rem 0.25rem;
  line-height: 0.56rem;
}
.group_5 {
  margin-right: 2.25rem;
}
.image_9 {
  flex-shrink: 0;
  opacity: 0.71;
  width: 1.06rem;
  height: 1.06rem;
}
.text_7 {
  margin: 0.19rem 0 0.19rem 0.31rem;
}
.group_6 {
  margin-top: 2.44rem;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 0.88rem;
}
.text_8 {
  margin-left: 0.13rem;
  align-self: flex-start;
}
.space-x-16 > *:not(:first-child) {
  margin-left: 1rem;
}
.equal-division-item_2 {
  flex: 1 1 6.06rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  box-shadow: 0px 0.31rem 0.75rem #0000001a;
  height: 7.88rem;
  border: solid 0.13rem #ffffff;
  position: relative;
}
.section_3 {
  background-image: url('../../img/94e1d33cb3e459bc8c5ea02ee9d2904f.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.section_4 {
  opacity: 0.9;
  background-image: linear-gradient(180deg, #00000000 0%, #00000014 36.8%, #0000007a 68.9%, #000000b3 100%);
  border-radius: 1.25rem;
  mix-blend-mode: MULTIPLY;
  height: 7.63rem;
}
.font_3 {
  font-size: 0.88rem;
  font-family: PingFang SC Regular;
  line-height: 0.81rem;
  color: #ffffff;
}
.text_9 {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.equal-division-item_3 {
  flex: 1 1 6.06rem;
  background-color: #181818;
  border-radius: 1.25rem;
  box-shadow: 0px 0.31rem 0.75rem #0000001a;
  height: 7.88rem;
  border: solid 0.13rem #ffffff;
  position: relative;
}
.section_5 {
  background-image: url('../../img/51dca7898918c78b57e954973c81c880.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.equal-division-item_4 {
  flex: 1 1 6.06rem;
  background-color: #181818;
  border-radius: 1.25rem;
  box-shadow: 0px 0.31rem 0.75rem #0000001a;
  height: 7.88rem;
  border: solid 0.13rem #ffffff;
}
.section_6 {
  background-image: url('../../img/f36f3324985efeaed4f80a795b138378.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.section_7 {
  padding: 1.19rem 1.75rem 1.13rem;
  background-color: #ffffff;
  border-radius: 1.75rem 1.75rem 0px 0px;
  box-shadow: 0px -0.25rem 1.13rem #7b7b7b1a;
}
.group_7 {
  align-self: center;
}
.space-y-4 > *:not(:first-child) {
  margin-top: 0.25rem;
}
.text_10 {
  color: #999999;
  line-height: 0.94rem;
}
.text_11 {
  color: #323232;
  font-size: 1rem;
  font-family: PingFang SC Bold;
  font-weight: 700;
  line-height: 0.72rem;
}
.text-wrapper {
  padding: 1rem 0 1.06rem;
  background-color: #62474c;
  border-radius: 1.56rem;
  background-image: url('../../img/b55d2934ff2af507ba2c234630a0bbba.png');
  background-position: 0% 0%;
  background-size: 8.75rem 2.88rem;
  background-repeat: no-repeat;
  width: 8.75rem;
  height: 2.88rem;
}