.page {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.image-wrapper {
  padding: 2.44rem 0 5.63rem;
  background-image: linear-gradient(315deg, #a6c1ee 9.9%, #fbc2eb 90.1%);
}
.image {
  margin-right: 0.94rem;
  width: 1.31rem;
  height: 1.25rem;
}
.section {
  margin-top: -1.81rem;
  background-color: #f8f7fa;
  border-radius: 1.72rem 1.72rem 0 0;
  height: 34.19rem;
  position: relative;
}
.group {
  margin-top: -3.16rem;
  padding-top: 3.16rem;
  position: relative;
}
.section_2 {
  padding: 3.38rem 0 2.81rem;
  background-color: #ffffff;
  border-radius: 1.72rem 1.72rem 0px 0px;
}
.space-y-69 > *:not(:first-child) {
  margin-top: 2.16rem;
}
.text {
  align-self: center;
  color: #272636;
  font-size: 1.25rem;
  font-family: SourceHanSansCN;
  line-height: 1.16rem;
}
.font_1 {
  font-size: 0.81rem;
  font-family: SourceHanSansCN;
  line-height: 0.75rem;
  font-weight: 300;
  color: #8b8a99;
}
.text_2 {
  margin-top: 0.72rem;
  align-self: center;
  color: #ceced9;
  line-height: 0.97rem;
  text-align: center;
  width: 17.81rem;
}
.equal-division {
  margin-top: 0.31rem;
  padding: 0 0.69rem;
}
.space-x-22 > *:not(:first-child) {
  margin-left: 0.69rem;
}
.equal-division-item {
  flex: 1 1 7.34rem;
  padding: 0.31rem 0.56rem;
}
.space-y-91 > *:not(:first-child) {
  margin-top: 2.84rem;
}
.group_2 {
  padding: 0 0.13rem;
}
.space-y-20 > *:not(:first-child) {
  margin-top: 0.63rem;
}
.image-wrapper_2 {
  padding-top: 0.5rem;
  background-color: #00000000;
  width: 3.13rem;
}
.image_3 {
  width: 2.03rem;
  height: 2.63rem;
}
.text_3 {
  line-height: 0.73rem;
}
.space-y-25 > *:not(:first-child) {
  margin-top: 0.78rem;
}
.image_7 {
  width: 2.16rem;
  height: 2.16rem;
}
.image-wrapper_3 {
  margin-right: 0.13rem;
  padding: 0.56rem 0 0.59rem;
  align-self: stretch;
  background-color: #00000000;
}
.image_4 {
  width: 2.22rem;
  height: 1.97rem;
}
.text_4 {
  align-self: stretch;
}
.space-y-41 > *:not(:first-child) {
  margin-top: 1.28rem;
}
.image_8 {
  width: 2.41rem;
  height: 1.72rem;
}
.image-wrapper_4 {
  padding: 0.66rem 0 0.44rem;
  background-color: #00000000;
  width: 3.13rem;
}
.image_5 {
  width: 2.5rem;
  height: 2.03rem;
}
.space-y-29 > *:not(:first-child) {
  margin-top: 0.91rem;
}
.image_6 {
  width: 2.25rem;
  height: 2.28rem;
}
.button {
  padding: 1.13rem 0;
  align-self: center;
  background-color: #f9adeb;
  border-radius: 1.56rem;
  width: 15rem;
}
.text_5 {
  color: #ffffff;
  font-size: 0.94rem;
  font-family: SourceHanSansCN;
  font-weight: 300;
  line-height: 0.86rem;
}
.image_2 {
  width: 5.69rem;
  height: 5.69rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section_3 {
  margin-top: 0.63rem;
  flex-shrink: 0;
  background-color: #ffffff;
  height: 2.31rem;
}
.equal-division_2 {
  position: fixed;
  width: 100%;
  bottom: 10px;
  /* padding-top: 0.094rem; */
  background-color: #ffffff;
}
.equal-division-item_2 {
  flex: 1 1 5.88rem;
  padding: 0.25rem 0;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 0.44rem;
}
.image_9 {
  width: 1.5rem;
  height: 1.5rem;
}
.font_2 {
  font-size: 0.63rem;
  font-family: SourceHanSansCN;
  line-height: 0.56rem;
  font-weight: 300;
  color: #666488;
}
.text_6 {
  color: #f9adeb;
}
.section_4 {
  /* flex-shrink: 0;
  background-color: #ffffff;
  border-radius: 0px 0px 0 0;
  height: 0.69rem; */
}