.page {
  padding: 0.88rem 0.88rem;
  background-color: #0e1523;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  flex-shrink: 0;
}
.space-y-22 > *:not(:first-child) {
  margin-top: 1.38rem;
}
.section {
  padding-top: 0.75rem;
  background-color: #131927;
  border-radius: 1.5rem;
  background-image: url('../../img/ce6d20ab6ec2aba0e93216b063b7366e.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.space-y-258 > *:not(:first-child) {
  margin-top: 16.13rem;
}
.group_3 {
  padding: 0 0.75rem;
}
.space-x-161 > *:not(:first-child) {
  margin-left: 10.06rem;
}
.section_4 {
  padding: 0.75rem 0.88rem 1rem;
  background-color: #1f233a;
  border-radius: 0.88rem;
  height: 5.31rem;
}
.group_5 {
  margin-right: 0.13rem;
}
.image_3 {
  margin-bottom: 0.25rem;
  flex-shrink: 0;
  width: 2.69rem;
  height: 2.31rem;
}
.group_8 {
  margin-top: 0.75rem;
  width: 2.78rem;
  height: 1.81rem;
}
.text_5 {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: PingFang SC Regular;
  line-height: 1.81rem;
}
.font_3 {
  font-size: 1rem;
  font-family: PingFang SC Regular;
  color: #ffffff;
}
.text_7 {
  line-height: 1.19rem;
}
.font_5 {
  font-size: 0.88rem;
  font-family: PingFang SC Regular;
  line-height: 0.81rem;
  color: #ffffff;
}
.text_11 {
  align-self: flex-start;
}
.section_5 {
  padding: 0.75rem 0.88rem 0.94rem;
  background-color: #1f233a;
  border-radius: 0.88rem;
  height: 4.63rem;
}
.space-y-7 > *:not(:first-child) {
  margin-top: 0.44rem;
}
.font_2 {
  font-size: 1.25rem;
  font-family: PingFang SC Regular;
  line-height: 0.81rem;
  color: #ffffff;
}
.text {
  margin: 0.38rem 0 0.44rem;
  line-height: 0.91rem;
}
.image_4 {
  flex-shrink: 0;
  width: 1.63rem;
  height: 1.75rem;
}
.font_4 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.81rem;
  color: #ffffff;
}
.group_14 {
  padding: 0 0.75rem 0.75rem;
}
.space-x-224 > *:not(:first-child) {
  margin-left: 14rem;
}
.section_6 {
  padding: 0.56rem 0.5rem 0.56rem 0.56rem;
  background-color: #1f233a;
  border-radius: 1.13rem;
  height: 2.19rem;
}
.image_15 {
  flex-shrink: 0;
  opacity: 0.4;
  width: 1.06rem;
  height: 1.06rem;
}
.font_8 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
  color: #ffffff;
}
.section_7 {
  padding: 0.88rem 1.31rem;
  background-color: #1f233a00;
  border-radius: 0px 0px 1.5rem 1.5rem;
  backdrop-filter: blur(0.63rem);
}
.space-y-6 > *:not(:first-child) {
  margin-top: 0.38rem;
}
.space-x-56 > *:not(:first-child) {
  margin-left: 3.5rem;
}
.group_15 {
  margin-top: 0.13rem;
}
.space-y-4 > *:not(:first-child) {
  margin-top: 0.25rem;
}
.text_19 {
  line-height: 0.88rem;
}
.text_21 {
  line-height: 0.88rem;
}
.section_8 {
  padding: 0.81rem 1.38rem 0.81rem 1.5rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  height: 2.75rem;
}
.image_16 {
  flex-shrink: 0;
  width: 1.19rem;
  height: 1.13rem;
}
.text_20 {
  margin: 0.19rem 0 0.19rem 0.5rem;
  color: #323232;
  font-size: 0.81rem;
  font-family: PingFang SC Bold;
  font-weight: 700;
  line-height: 0.75rem;
}
.space-x-28 > *:not(:first-child) {
  margin-left: 1.75rem;
}
.font_9 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.56rem;
  color: #ffffff;
}
.section_10 {
  padding: 1rem 0.75rem 2rem;
  background-image: linear-gradient(121.8deg, #20293a 2.3%, #131b28 100%);
  border-radius: 1.5rem;
}
.image_18 {
  width: 7.63rem;
  height: 7.63rem;
}
.group_18 {
  width: 15.34rem;
}
.space-y-2 > *:not(:first-child) {
  margin-top: 0.13rem;
}
.image_5 {
  opacity: 0.4;
  width: 1.25rem;
  height: 1.25rem;
}
.image_19 {
  align-self: flex-end;
}
.font_10 {
  font-size: 1.13rem;
  font-family: PingFang SC Regular;
  line-height: 1.38rem;
  color: #ffffff;
}
.text_26 {
  margin-top: 0.13rem;
}
.image_24 {
  width: 3.25rem;
  height: 3.25rem;
}
.image_26 {
  margin-left: 0.75rem;
  align-self: center;
  width: 15.56rem;
  height: 2rem;
}
.image_27 {
  margin-left: 1.25rem;
  align-self: center;
  opacity: 0.4;
  width: 1.13rem;
  height: 1.13rem;
}
.group_26 {
  padding: 0 4rem;
}
.space-x-197 > *:not(:first-child) {
  margin-left: 12.31rem;
}
.font_13 {
  font-size: 0.63rem;
  font-family: PingFang SC Regular;
  line-height: 0.47rem;
  color: #ffffff;
}
.text_2 {
  opacity: 0.4;
}
.text_33 {
  margin-top: 1.25rem;
  line-height: 0.75rem;
}
.text_25 {
  margin: 0.19rem 0 0.19rem 0.44rem;
}
.text_24 {
  margin: 0.25rem 0 0.25rem 0.38rem;
}
.text_16 {
  margin: 0.19rem 0 0.19rem 0.25rem;
}
.text_10 {
  font-size: 0.81rem;
  line-height: 0.75rem;
}
.text_3 {
  margin-left: 0.38rem;
  align-self: center;
  line-height: 0.94rem;
}
.group_2 {
  flex: 1 1 auto;
}
.space-x-22 > *:not(:first-child) {
  margin-left: 1.38rem;
}
.section_2 {
  padding: 1.75rem 1.75rem 0.94rem;
  flex-shrink: 0;
  background-color: #131927;
  border-radius: 1.5rem;
  background-image: url('../../img/21cf9b6997c18667a038f75633716f90.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 22.75rem;
  height: 48.25rem;
}
.space-y-59 > *:not(:first-child) {
  margin-top: 3.69rem;
}
.image_6 {
  margin: 0.13rem 0;
}
.group_6 {
  margin-left: 5.25rem;
}
.space-x-9 > *:not(:first-child) {
  margin-left: 0.56rem;
}
.font_1 {
  font-size: 2.13rem;
  font-family: PingFang SC Regular;
  line-height: 1.56rem;
  color: #ffffff;
}
.text_6 {
  margin-top: 0.63rem;
  line-height: 0.88rem;
}
.image_7 {
  margin: 0.13rem 0 0.13rem 5rem;
}
.group_10 {
  padding: 0 0.25rem;
}
.space-y-36 > *:not(:first-child) {
  margin-top: 2.25rem;
}
.group_11 {
  padding-left: 0.38rem;
  padding-right: 0.25rem;
}
.group_12 {
  padding-bottom: 0.38rem;
}
.space-x-87 > *:not(:first-child) {
  margin-left: 5.44rem;
}
.text_12 {
  margin-top: 0.5rem;
  line-height: 0.78rem;
}
.text_13 {
  margin-top: 0.5rem;
}
.image-wrapper {
  margin-left: 0.25rem;
  margin-right: 0.38rem;
  padding-bottom: 0.63rem;
  background-image: url('../../img/cdf220863efe03d362fbd30630c7b95d.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.image_9 {
  flex-shrink: 0;
  width: 2.94rem;
  height: 0.25rem;
}
.group_13 {
  padding: 2.06rem 0 1.88rem;
  height: 18.38rem;
  position: relative;
}
.group_16 {
  line-height: 0.81rem;
  position: absolute;
  left: 0;
  bottom: 1.88rem;
}
.font_7 {
  font-size: 1.13rem;
  font-family: PingFang SC Regular;
  line-height: 0.81rem;
  color: #ffffff;
}
.text_31 {
  opacity: 0.6;
}
.text_22 {
  color: #ffffff66;
}
.group_17 {
  line-height: 0.88rem;
  position: absolute;
  right: 0;
  bottom: 1.88rem;
}
.text_23 {
  color: #ffffff99;
  line-height: 0.88rem;
}
.image-wrapper_2 {
  padding-top: 2.38rem;
  background-color: #ffffff1a;
  width: 0.5rem;
  position: absolute;
  left: 0.97rem;
  top: 4.81rem;
}
.image_13 {
  width: 0.5rem;
  height: 7.25rem;
}
.image-wrapper_3 {
  padding-top: 4.56rem;
  background-color: #ffffff1a;
  width: 0.5rem;
  position: absolute;
  right: 0.97rem;
  top: 4.81rem;
}
.image_14 {
  width: 0.5rem;
  height: 5.06rem;
}
.image_11 {
  width: 1.88rem;
  height: 1.88rem;
  position: absolute;
  left: 0.28rem;
  top: 2.06rem;
}
.image_12 {
  width: 1.88rem;
  height: 1.88rem;
  position: absolute;
  right: 0.28rem;
  top: 2.06rem;
}
.image_10 {
  width: 10.94rem;
  height: 18.38rem;
  position: absolute;
  left: 4rem;
  right: 0.34rem;
  bottom: 0;
}
.group_19 {
  padding-left: 0.13rem;
}
.space-y-26 > *:not(:first-child) {
  margin-top: 1.63rem;
}
.space-x-70 > *:not(:first-child) {
  margin-left: 4.38rem;
}
.group_20 {
  margin-top: 1.13rem;
  width: 3.09rem;
}
.space-y-24 > *:not(:first-child) {
  margin-top: 1.5rem;
}
.image_21 {
  align-self: flex-start;
}
.group_22 {
  align-self: center;
  line-height: 1rem;
}
.font_11 {
  font-size: 1.38rem;
  font-family: PingFang SC Regular;
  line-height: 1rem;
  color: #ffffff;
}
.font_12 {
  font-size: 1.38rem;
  font-family: PingFang SC Regular;
  line-height: 1rem;
  color: #ffffff66;
}
.image_20 {
  width: 4.13rem;
  height: 4.13rem;
}
.group_21 {
  margin-top: 1.13rem;
  width: 3.13rem;
}
.space-y-23 > *:not(:first-child) {
  margin-top: 1.44rem;
}
.image_22 {
  align-self: flex-end;
}
.group_23 {
  align-self: center;
  line-height: 1.06rem;
}
.text_27 {
  line-height: 1.06rem;
}
.group_24 {
  padding: 0 0.81rem;
}
.image-wrapper_4 {
  width: 3rem;
}
.image_23 {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.view_2 {
  margin-left: 4rem;
  align-self: center;
}
.text_34 {
  text-transform: uppercase;
  opacity: 0.4;
}
.view {
  margin-left: 4.38rem;
}
.space-x-58 > *:not(:first-child) {
  margin-left: 3.63rem;
}
.image_28 {
  margin-top: 1.06rem;
}
.image_25 {
  border-radius: 1.38rem;
  width: 4.13rem;
  height: 4.13rem;
}
.image_29 {
  margin-top: 1.06rem;
}
.section_3 {
  padding: 0.75rem 0.75rem 0;
  flex: 1 1 auto;
  background-color: #131927;
  border-radius: 1.5rem;
  height: 48.25rem;
}
.group_4 {
  padding: 1.25rem 0 1.13rem;
  position: relative;
}
.image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
}
.group_7 {
  align-self: center;
}
.space-x-7 > *:not(:first-child) {
  margin-left: 0.44rem;
}
.text_8 {
  margin-top: 0.75rem;
  line-height: 0.88rem;
}
.text_4 {
  margin-bottom: 0.13rem;
}
.text_9 {
  margin-top: 0.63rem;
  line-height: 1rem;
}
.image_2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
}
.group_9 {
  margin-top: 1.75rem;
  padding: 9.88rem 0 1.13rem;
  height: 20.38rem;
  position: relative;
}
.font_6 {
  font-size: 2rem;
  font-family: PingFang SC Regular;
  color: #ffffff;
}
.text_18 {
  line-height: 1.63rem;
  opacity: 0.6;
  position: absolute;
  right: 7.13rem;
  bottom: 1.13rem;
}
.text_15 {
  line-height: 0.84rem;
  opacity: 0.4;
  position: absolute;
  right: 10.03rem;
  bottom: 9rem;
}
.text_14 {
  line-height: 1.44rem;
  position: absolute;
  left: 10.84rem;
  bottom: 9.06rem;
}
.text_17 {
  color: #ffffff;
  font-size: 3.63rem;
  font-family: PingFang SC Bold;
  font-weight: 700;
  line-height: 2.66rem;
  letter-spacing: 0.14rem;
  position: absolute;
  left: 7.88rem;
  bottom: 1.22rem;
}
.image_8 {
  width: 21.38rem;
  height: 20.38rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section_9 {
  margin-top: 3rem;
  padding: 1.38rem 2.13rem 2rem;
  opacity: 0.5;
  border-radius: 2.5rem;
  background-image: url('../../img/c68f8bf8a6bd14ca7efbce6c2af62c02.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.75rem;
}
.image_17 {
  width: 20.63rem;
  height: 6.06rem;
}
.text_28 {
  opacity: 0.9;
}
.text_30 {
  margin-top: 0.25rem;
  font-size: 1.19rem;
  line-height: 1.09rem;
}
.text_29 {
  margin-left: 0.38rem;
  margin-bottom: 0.25rem;
}
.text_32 {
  margin: 0.13rem 0 0.31rem 0.5rem;
  line-height: 0.84rem;
}
.group_25 {
  padding: 3rem 2.88rem 2rem;
}
.image-wrapper_5 {
  width: 1.94rem;
}
.image_30 {
  opacity: 0.3;
  width: 1.5rem;
  height: 1.88rem;
}
.view_3 {
  margin-bottom: 0.31rem;
}
.image_31 {
  opacity: 0.3;
  width: 1.94rem;
  height: 1.56rem;
}
.image_32 {
  width: 1.5rem;
  height: 1.88rem;
}