.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.header {
  padding: 2.75rem 1.44rem 0.56rem 1.5rem;
  height: 4.69rem;
}
.image_2 {
  margin: 0.25rem 0 0.31rem;
  width: 1.25rem;
  height: 0.81rem;
}
.image {
  width: 1.25rem;
  height: 1.38rem;
}
.group {
  padding: 1.13rem 0.94rem 14.25rem;
  flex: 1 1 auto;
  overflow-y: auto;
}
.group_2 {
  padding: 0 0.5rem;
}
.font_1 {
  font-size: 1.88rem;
  font-family: Raleway;
  line-height: 2.25rem;
  font-weight: 600;
  color: #000000;
}
.text {
  margin-left: 0.13rem;
}
.section {
  margin: 3.94rem 0.5rem 0;
  padding: 0.63rem 1.44rem 1.25rem;
  background-color: #eff1e7;
  border-radius: 1rem;
  height: 3.88rem;
}
.image_3 {
  margin-top: 0.63rem;
  flex-shrink: 0;
  opacity: 0.3;
  width: 1.38rem;
  height: 1.38rem;
}
.text_2 {
  margin-left: 2.5rem;
  margin-top: -2rem;
  color: #000000;
  font-size: 1rem;
  font-family: Raleway;
  font-weight: 600;
  line-height: 0.75rem;
  opacity: 0.3;
}
.equal-division {
  margin-top: 1.31rem;
}
.equal-division-item {
  flex: 1 1 10.75rem;
  padding: 0.31rem 0.44rem 0.31rem 0.5rem;
}
.section_2 {
  padding: 2rem 0 1.94rem;
  background-color: #eff1e7;
  border-radius: 1rem;
  position: relative;
}
.image_4 {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.image-wrapper {
  padding: 4.44rem 0 3.5rem;
  background-image: url('../../img/21dae241236df1e9821495b479ceffdf.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 5.38rem;
  position: relative;
}
.image_5 {
  mix-blend-mode: MULTIPLY;
  width: 4.5rem;
  height: 1.25rem;
}
.font_2 {
  font-size: 1.19rem;
  font-family: Raleway;
  line-height: 0.88rem;
  font-weight: 600;
  color: #000000;
}
.text_3 {
  margin-left: 0.13rem;
  margin-top: 0.88rem;
  align-self: flex-start;
}
.font_3 {
  font-size: 1.25rem;
  font-family: Raleway;
  line-height: 1.22rem;
  font-weight: 700;
  color: #000000;
}
.text_4 {
  margin-left: 0.13rem;
  margin-top: 0.38rem;
  align-self: flex-start;
}