.page {
  padding-bottom: 0.38rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.space-y-96 > *:not(:first-child) {
  margin-top: 6rem;
}
.group {
  padding: 1rem 0.88rem 0 1rem;
}
.group_2 {
  padding-left: 1.13rem;
}
.text {
  margin-bottom: 0.13rem;
  color: #000000;
  font-size: 0.94rem;
  font-family: PingFangSC-Medium;
  line-height: 0.69rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.image {
  width: 1.06rem;
  height: 0.69rem;
}
.image_2 {
  width: 0.94rem;
  height: 0.69rem;
}
.image_3 {
  width: 1.5rem;
  height: 0.72rem;
}
.group_3 {
  margin-top: 1.63rem;
}
.font_1 {
  font-size: 1.13rem;
  font-family: PingFang SC Bold;
  line-height: 1.06rem;
  font-weight: 700;
  color: #333333;
}
.text_2 {
  margin: 0.25rem 0;
  line-height: 1.03rem;
}
.image_4 {
  width: 1.5rem;
  height: 1.5rem;
}
.image_5 {
  margin-right: 0.13rem;
}
.group_4 {
  margin-top: 1.13rem;
}
.space-y-28 > *:not(:first-child) {
  margin-top: 1.75rem;
}
.image_6 {
  margin-right: 0.13rem;
  width: 21.44rem;
  height: 8.25rem;
}
.group_5 {
  padding: 0 0.13rem;
}
.text_3 {
  line-height: 1.03rem;
}
.text_4 {
  margin: 0.19rem 0;
  color: #adadad;
  font-size: 0.75rem;
  font-family: PingFangSC-Regular;
  line-height: 0.69rem;
}
.image_7 {
  flex-shrink: 0;
  width: 0.75rem;
  height: 1.06rem;
}
.list-item {
  padding: 1.25rem 0;
  border-bottom: solid 0.031rem #e6e6e6;
}
.image_8 {
  flex-shrink: 0;
  border-radius: 0.5rem;
  width: 6.25rem;
  height: 5rem;
}
.group_6 {
  margin: 0.31rem 0.13rem 0 0.75rem;
  flex: 1 1 auto;
}
.font_2 {
  font-size: 0.88rem;
  font-family: PingFang SC Regular;
  line-height: 1.06rem;
  color: #333333;
}
.text_5 {
  align-self: flex-start;
}
.text_6 {
  margin-top: 0.19rem;
  align-self: flex-start;
}
.group_7 {
  margin-top: 1.31rem;
}
.font_3 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
  color: #b4b4b4;
}
.text_7 {
  margin: 0.19rem 0;
}
.font_4 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.59rem;
  color: #666666;
}
.text_8 {
  margin: 0.25rem 0 0.25rem 0.13rem;
  line-height: 0.56rem;
}
.group_8 {
  margin: 0.31rem 0.13rem 0.19rem 0.75rem;
  flex: 1 1 auto;
}
.text_9 {
  align-self: flex-start;
}
.text_10 {
  margin-top: 0.25rem;
  align-self: flex-start;
}
.group_9 {
  margin-top: 1.5rem;
}
.image_9 {
  flex-shrink: 0;
  width: 0.69rem;
  height: 0.69rem;
}
.text_11 {
  margin: 0.13rem 0 0.063rem 0.19rem;
  line-height: 0.53rem;
}
.group_10 {
  margin: 0.31rem 0.13rem 0.19rem 0.75rem;
  flex: 1 1 auto;
}
.text_12 {
  align-self: flex-start;
}
.text_13 {
  margin-top: 0.19rem;
  align-self: flex-start;
}
.group_11 {
  margin-top: 1.5rem;
}
.space-x-3 > *:not(:first-child) {
  margin-left: 0.19rem;
}
.text_14 {
  margin-top: 0.13rem;
  line-height: 0.56rem;
}
.equal-division {
  padding-top: 0.25rem;
  background-color: #ffffff;
  box-shadow: 0px -0.031rem 0px #0000001a;
  backdrop-filter: blur(1.25rem);
}
.equal-division-item {
  flex: 1 1 5.88rem;
  padding: 0.25rem 0;
}
.space-y-5 > *:not(:first-child) {
  margin-top: 0.31rem;
}
.font_5 {
  font-size: 0.63rem;
  font-family: PingFangSC-Regular;
  line-height: 0.59rem;
  color: #bbbabf;
}
.text_15 {
  color: #5ecdab;
}