.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.header {
  padding: 1.5rem 1.25rem 0.38rem;
  height: 3.31rem;
}
.image_4 {
  align-self: center;
  width: 1rem;
  height: 0.75rem;
}
.space-x-8 > *:not(:first-child) {
  margin-left: 0.5rem;
}
.image_2 {
  flex-shrink: 0;
  width: 1.44rem;
  height: 1.44rem;
}
.font_1 {
  font-size: 0.75rem;
  font-family: Poppins;
  font-weight: 600;
}
.text {
  align-self: center;
  color: #060dd9;
  line-height: 0.56rem;
}
.image_3 {
  margin: 0.13rem 0;
  width: 1rem;
  height: 1.19rem;
}
.group {
  padding-top: 1.19rem;
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}
.section {
  padding-top: 8.5rem;
  background-color: #f3f3ff;
  border-radius: 1.88rem 1.88rem 0px 0px;
}
.space-y-21 > *:not(:first-child) {
  margin-top: 1.31rem;
}
.group_2 {
  padding: 0 1.25rem;
}
.space-y-118 > *:not(:first-child) {
  margin-top: 7.38rem;
}
.image_6 {
  box-shadow: 0px 0.19rem 0.38rem #060dd91a;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.space-y-10 > *:not(:first-child) {
  margin-top: 0.63rem;
}
.image_7 {
  width: 3.75rem;
  height: 0.5rem;
}
.text_2 {
  color: #262626;
  line-height: 0.75rem;
}
.font_2 {
  font-size: 0.88rem;
  font-family: Poppins;
  line-height: 0.75rem;
  font-weight: 600;
}
.text_3 {
  color: #060dd9;
  line-height: 0.78rem;
}
.section_2 {
  padding: 1.63rem 1.25rem 4.06rem;
  background-color: #ffffff;
  border-radius: 1.88rem 1.88rem 0px 0px;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.font_3 {
  font-size: 0.88rem;
  font-family: Poppins;
  line-height: 0.66rem;
  color: #262626;
}
.text_4 {
  align-self: flex-start;
  font-weight: 600;
}
.section_4 {
  margin: 0.13rem 0;
  background-color: #402373;
  border-radius: 50%;
  width: 0.81rem;
  height: 0.81rem;
}
.section_3 {
  margin-left: 0.31rem;
  background-color: #e00f83;
  box-shadow: 0px 0.19rem 0.38rem #060dd926;
  border-radius: 50%;
  width: 1.06rem;
  height: 1.06rem;
  border: solid 0.19rem #ffffff;
}
.section_5 {
  margin: 0.13rem 0 0.13rem 0.5rem;
  background-color: #2ac6ee;
  border-radius: 50%;
  width: 0.81rem;
  height: 0.81rem;
}
.group_3 {
  margin-top: 1.88rem;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 0.88rem;
}
.text_5 {
  color: #262626;
  line-height: 0.69rem;
}
.group_4 {
  width: 14.78rem;
}
.space-y-2 > *:not(:first-child) {
  margin-top: 0.13rem;
}
.font_4 {
  font-size: 0.63rem;
  font-family: Poppins;
  line-height: 0.75rem;
  color: #262626;
}
.text_6 {
  align-self: flex-start;
}
.text_7 {
  align-self: flex-start;
}
.text_8 {
  align-self: flex-start;
}
.text_9 {
  align-self: flex-start;
}
.group_5 {
  margin-top: 4rem;
}
.space-x-21 > *:not(:first-child) {
  margin-left: 1.31rem;
}
.text-wrapper {
  padding: 1.13rem 0 1.06rem;
  flex: 1 1 9.81rem;
  background-color: #f3f3ff;
  border-radius: 1.63rem;
  height: 2.81rem;
}
.text-wrapper_2 {
  padding: 1.13rem 0 0.88rem;
  flex: 1 1 9.81rem;
  background-color: #060dd9;
  border-radius: 1.63rem;
  height: 2.81rem;
}
.text_10 {
  color: #ffffff;
  line-height: 0.84rem;
}
.image {
  border-radius: 3.44rem;
  width: 21.81rem;
  height: 22.25rem;
  position: absolute;
  right: -1.38rem;
  top: -1.78rem;
}
.image_5 {
  width: 18.63rem;
  height: 18.63rem;
  position: absolute;
  left: 1.75rem;
  top: 0;
}