.page {
  background-color: #f5f5f5;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.header {
  padding: 0.85rem 1.38rem 1rem;
  background-color: #c4a3f0;
  box-shadow: 0px 0.13rem 0.42rem #6335cc33;
  height: 4.08rem;
  position: relative;
}
.space-x-28 > *:not(:first-child) {
  margin-left: 0.58rem;
}
.image {
  flex-shrink: 0;
  width: 2.04rem;
  height: 2.23rem;
}
.text {
  align-self: center;
  color: #ffffff;
  font-size: 1rem;
  font-family: FZHTK;
  line-height: 0.94rem;
}
.image_2 {
  align-self: center;
  width: 1rem;
  height: 1rem;
}
.group {
  padding-bottom: 0.4rem;
  flex: 1 1 auto;
  overflow-y: auto;
}
.space-y-20 > *:not(:first-child) {
  margin-top: 0.42rem;
}
.list {
  padding: 0.79rem 0.42rem 0;
}
.list-item {
  padding: 0.33rem 0.13rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 0.33rem #6335cc1a;
  border-radius: 0.42rem;
}
.image_3 {
  flex-shrink: 0;
  width: 3.5rem;
  height: 3.5rem;
}
.space-y-25 > *:not(:first-child) {
  margin-top: 0.52rem;
}
.group_3 {
  margin-left: 0.5rem;
  flex: 1 1 auto;
  align-self: center;
}
.font_2 {
  font-size: 1.08rem;
  font-family: FZHTK;
  line-height: 0.85rem;
  font-weight: 700;
  color: #571ba6;
}
.font_4 {
  font-size: 0.92rem;
  font-family: FZHTK;
  line-height: 0.92rem;
  color: #a99bdc;
}
.group_2 {
  line-height: 0.63rem;
  height: 0.63rem;
}
.view {
  margin: 0.69rem 0.5rem 0 1.21rem;
}
.font_1 {
  font-size: 0.67rem;
  font-family: FZHTK;
  line-height: 0.63rem;
  color: #d4c9ef;
}
.font_3 {
  font-size: 0.67rem;
  font-family: FZHTK;
  letter-spacing: 0.027rem;
  line-height: 0.52rem;
  color: #d4c9ef;
}
.space-x-37 > *:not(:first-child) {
  margin-left: 0.77rem;
}
.image_4 {
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 0.33rem #6335cc40);
  width: 2.92rem;
  height: 2.92rem;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 0.33rem;
}
.group_4 {
  margin-right: 0.21rem;
  flex: 1 1 auto;
  align-self: center;
}
.font_5 {
  font-size: 1.08rem;
  font-family: FZHTK;
  line-height: 1.04rem;
  font-weight: 700;
  color: #571ba6;
}
.text_2 {
  line-height: 1.06rem;
}
.group_5 {
  margin-left: 0.46rem;
  flex: 1 1 auto;
  align-self: center;
}
.space-x-38 > *:not(:first-child) {
  margin-left: 0.79rem;
}
.list-item_2 {
  padding: 0.63rem 0.42rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 0.33rem #6335cc1a;
  border-radius: 0.42rem;
}
.group_6 {
  margin-right: 0.21rem;
  flex: 1 1 auto;
  align-self: center;
}
.view_2 {
  margin-bottom: 0.27rem;
}
.text_3 {
  align-self: flex-start;
}
.group_7 {
  flex: 1 1 auto;
}
.space-y-21 > *:not(:first-child) {
  margin-top: 0.44rem;
}
.group_8 {
  flex: 1 1 auto;
  align-self: center;
}
.view_3 {
  margin: 0.29rem 0.21rem 0 1.21rem;
}
.space-y-22 > *:not(:first-child) {
  margin-top: 0.46rem;
}
.group_9 {
  margin: 0.29rem 0.21rem 0.19rem 0.75rem;
  flex: 1 1 auto;
}
.text_4 {
  line-height: 1.02rem;
}
.text_5 {
  align-self: flex-start;
}
.space-x-36 > *:not(:first-child) {
  margin-left: 0.75rem;
}
.group_10 {
  flex: 1 1 auto;
}
.group_11 {
  flex: 1 1 auto;
  align-self: center;
}
.text_6 {
  line-height: 1rem;
}
.view_4 {
  margin: 0.29rem 0.21rem 0 1.21rem;
}
.tab-bar {
  padding: 0.33rem 0.75rem 0.33rem 0.79rem;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.17rem;
}
.image_5 {
  width: 1.63rem;
  height: 1.63rem;
}
.font_6 {
  font-size: 0.63rem;
  font-family: FZHTK;
  line-height: 0.58rem;
  color: #a99bdc;
}
.text_7 {
  color: #571ba6;
  line-height: 0.56rem;
}
.text_8 {
  line-height: 0.56rem;
}
.space-y-9 > *:not(:first-child) {
  margin-top: 0.19rem;
}
.space-y-5 > *:not(:first-child) {
  margin-top: 0.1rem;
}
.group_12 {
  width: 1.9rem;
}
.view_6 {
  margin-top: 1.81rem;
}
.view_5 {
  margin-bottom: 0.083rem;
}