.page {
  padding-top: 1.06rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.space-y-30 > *:not(:first-child) {
  margin-top: 1.88rem;
}
.group {
  padding-left: 1.63rem;
  padding-right: 0.88rem;
}
.space-y-34 > *:not(:first-child) {
  margin-top: 2.13rem;
}
.space-y-18 > *:not(:first-child) {
  margin-top: 1.13rem;
}
.group_2 {
  padding-left: 0.38rem;
}
.text {
  color: #080808;
  font-size: 0.94rem;
  font-family: SFUIDisplay-Semibold;
  font-weight: 600;
  line-height: 0.69rem;
}
.image {
  width: 1.06rem;
  height: 0.69rem;
}
.image_2 {
  width: 0.94rem;
  height: 0.69rem;
}
.image_3 {
  width: 1.5rem;
  height: 0.72rem;
}
.image-wrapper {
  width: 2.5rem;
}
.image_4 {
  width: 2.5rem;
  height: 2.5rem;
}
.text-wrapper {
  align-self: center;
}
.text_2 {
  margin-left: 0.25rem;
  margin-right: 0.19rem;
  color: #46a6d4;
  font-size: 1.13rem;
  font-family: PingFang SC Bold;
  font-weight: 700;
  line-height: 0.81rem;
}
.view {
  margin-right: 0.75rem;
}
.space-x-18 > *:not(:first-child) {
  margin-left: 1.13rem;
}
.section {
  background-color: #f9a10b;
  border-radius: 0.19rem;
  width: 0.38rem;
  height: 3.31rem;
}
.group_3 {
  align-self: center;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.5rem;
}
.text_3 {
  color: #343434;
  font-size: 1.75rem;
  font-family: DIN-Bold;
  font-weight: 700;
  line-height: 1.5rem;
}
.font_2 {
  font-size: 0.88rem;
  font-family: DIN-Medium;
  line-height: 0.63rem;
  color: #343434;
}
.text_6 {
  margin-left: 0.63rem;
  line-height: 0.75rem;
}
.font_1 {
  font-size: 0.75rem;
  font-family: PingFang SC Bold;
  font-weight: 700;
}
.text_5 {
  margin-left: -4.06rem;
  margin-bottom: 0.19rem;
  color: #343434;
  line-height: 0.53rem;
}
.section_2 {
  margin-right: 0.75rem;
  padding: 0.63rem 0.75rem 0.63rem 0.94rem;
  align-self: center;
  background-color: #f3f5f4;
  border-radius: 0.94rem;
  height: 1.81rem;
}
.text_4 {
  color: #fc4747;
  line-height: 0.56rem;
}
.image_5 {
  margin-bottom: 0.063rem;
  flex-shrink: 0;
  width: 0.69rem;
  height: 0.44rem;
}
.text-wrapper_2 {
  padding: 0.63rem 0;
  flex: 1 1 3.38rem;
  background-color: #d9f2fe;
  border-radius: 0.94rem;
  height: 1.88rem;
}
.font_3 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.63rem;
  color: #999999;
}
.text_7 {
  color: #5788b1;
  font-size: 0.69rem;
}
.text-wrapper_3 {
  flex: 1 1 3.38rem;
  padding: 0.63rem 0;
  background-color: #f5f5f5;
  border-radius: 0.94rem;
  height: 1.88rem;
}
.view_2 {
  margin-left: 0.81rem;
}
.text_8 {
  font-size: 0.69rem;
  line-height: 0.59rem;
}
.view_3 {
  margin-left: 1rem;
}
.text_9 {
  font-size: 0.69rem;
  line-height: 0.59rem;
}
.view_4 {
  margin-left: 0.69rem;
}
.text_10 {
  font-size: 0.69rem;
}
.view_5 {
  margin-left: 0.81rem;
  margin-right: 0.75rem;
}
.text_11 {
  font-size: 0.69rem;
}
.group_4 {
  height: 35.06rem;
}
.group_5 {
  padding-top: 0.25rem;
  height: 15.38rem;
  position: relative;
}
.section_4 {
  background-color: #ffffff;
  box-shadow: 0px -0.38rem 2rem #3333331a;
  width: 23.44rem;
  height: 8.19rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 7.19rem;
}
.font_4 {
  font-size: 0.75rem;
  font-family: DIN-Medium;
  line-height: 0.63rem;
  color: #cccccc;
}
.text_12 {
  color: #343434;
  line-height: 0.66rem;
  position: absolute;
  right: 1.56rem;
  top: 0.22rem;
}
.text_14 {
  line-height: 0.66rem;
  position: absolute;
  right: 1.75rem;
  top: 4.47rem;
}
.text_15 {
  line-height: 0.66rem;
  position: absolute;
  right: 1.75rem;
  top: 6.59rem;
}
.text-wrapper_4 {
  padding: 0.75rem 0 0.63rem;
  background-color: #f3f5f4;
  border-radius: 1.06rem 0px 0px 1.06rem;
  width: 4.53rem;
  position: absolute;
  right: 0;
  top: 1.56rem;
}
.text_13 {
  color: #fc4747;
  line-height: 0.66rem;
}
.section_3 {
  background-color: #9a9a9a;
  width: 18.44rem;
  height: 0px;
  position: absolute;
  left: 0;
  top: 2.56rem;
}
.image-wrapper_2 {
  padding: 8.06rem 0 5.25rem;
  background-image: url('../../img/d84db49412c2e975216f1dc7b6ba3b48.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.image_6 {
  border-radius: 0.13rem;
  width: 3.13rem;
  height: 0.19rem;
}
.section_5 {
  margin-top: -1.88rem;
  background-color: #ffffff;
  position: relative;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.group_6 {
  padding: 0.56rem 1.31rem 0 1.63rem;
}
.font_5 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.63rem;
  color: #9a9a9a;
}
.text_16 {
  margin-left: 0.063rem;
  align-self: flex-start;
  line-height: 0.69rem;
}
.group_7 {
  margin-top: 1.06rem;
}
.group_8 {
  margin-bottom: 0.13rem;
}
.space-x-5 > *:not(:first-child) {
  margin-left: 0.31rem;
}
.image_7 {
  width: 1.5rem;
  height: 2rem;
}
.image_8 {
  flex-shrink: 0;
}
.text_18 {
  align-self: center;
}
.image_9 {
  width: 0.56rem;
  height: 0.5rem;
}
.image_10 {
  flex-shrink: 0;
  align-self: center;
}
.group_9 {
  margin-right: 0.13rem;
  margin-top: 0.13rem;
  width: 5.22rem;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.75rem;
}
.font_6 {
  font-size: 1rem;
  font-family: PingFang SC Bold;
  line-height: 0.72rem;
  font-weight: 700;
  color: #343434;
}
.text_17 {
  align-self: flex-start;
}
.text_19 {
  align-self: flex-end;
  line-height: 0.56rem;
}
.image_11 {
  margin-right: 0.31rem;
  margin-top: 0.69rem;
  width: 20.19rem;
  height: 1.88rem;
}
.group_10 {
  margin-top: 0.81rem;
  padding: 0 0.063rem;
}
.text_20 {
  line-height: 0.69rem;
}
.text_21 {
  margin-right: 0.38rem;
}
.group_11 {
  margin-top: 0.75rem;
  height: 2.28rem;
}
.group_12 {
  margin-top: 0.25rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.text_23 {
  align-self: center;
}
.image_12 {
  align-self: center;
}
.text_22 {
  margin-top: -2.25rem;
  align-self: flex-end;
  line-height: 0.56rem;
}
.group_13 {
  margin-top: 1.06rem;
  padding: 0.88rem 0 0.5rem;
  border-top: solid 0.063rem #f2f2f2;
}
.space-x-4 > *:not(:first-child) {
  margin-left: 0.25rem;
}
.section_6 {
  margin: 0.13rem 0;
  background-color: #dbaf51;
  border-radius: 50%;
  width: 0.38rem;
  height: 0.38rem;
}
.text_24 {
  color: #989898;
  line-height: 0.66rem;
}
.section_7 {
  padding: 0.5rem 2.25rem 1.81rem;
  background-image: url('../../img/81c95be605e7fa730cef055a12013cac.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.group_14 {
  margin-top: 0.94rem;
}
.image_14 {
  width: 1.63rem;
  height: 1.63rem;
}
.font_7 {
  font-size: 0.63rem;
  font-family: PingFang SC Regular;
  line-height: 0.63rem;
  color: #989898;
}
.text_25 {
  line-height: 0.59rem;
}
.group_15 {
  margin-top: 0.94rem;
}
.text_26 {
  color: #ffffff;
  line-height: 0.56rem;
}
.image_13 {
  margin-bottom: 0.19rem;
  width: 3.25rem;
  height: 3.25rem;
}
.group_16 {
  margin-top: 0.94rem;
}
.space-y-4 > *:not(:first-child) {
  margin-top: 0.25rem;
}
.text_27 {
  line-height: 0.59rem;
}
.group_17 {
  margin-top: 0.94rem;
}
.space-y-5 > *:not(:first-child) {
  margin-top: 0.31rem;
}
.text_28 {
  line-height: 0.56rem;
}