.page {
  padding-top: 1rem;
  background-color: #f3f4f8;
  border-radius: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding-left: 1.94rem;
  padding-right: 0.88rem;
}
.text {
  color: #080808;
  font-size: 0.94rem;
  font-family: SFUIDisplay;
  line-height: 0.81rem;
}
.image {
  width: 1.06rem;
  height: 0.75rem;
}
.image_2 {
  width: 1rem;
  height: 0.75rem;
}
.image_3 {
  width: 1.56rem;
  height: 0.75rem;
}
.group_2 {
  margin-top: 1.81rem;
  padding: 0 1.88rem;
  position: relative;
}
.image_4 {
  position: absolute;
  left: 1.88rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.88rem;
}
.text_2 {
  color: #333333;
  font-size: 1.06rem;
  font-family: PingFang SC Bold;
  line-height: 1rem;
}
.section {
  margin: 1.94rem 1.38rem 0;
  padding: 1.19rem 1rem 1.13rem;
  background-color: #509cfe;
  box-shadow: 0px 0.88rem 2.19rem #287eec4d;
  border-radius: 1rem;
}
.space-y-11 > *:not(:first-child) {
  margin-top: 0.69rem;
}
.font_1 {
  font-size: 0.88rem;
  font-family: PingFang SC Regular;
  line-height: 0.75rem;
  color: #9a9a9a;
}
.text_3 {
  color: #ffffff;
  font-size: 0.94rem;
  line-height: 0.94rem;
}
.text_4 {
  color: #e4e4e4;
  font-size: 0.81rem;
  line-height: 0.81rem;
}
.image_5 {
  margin-right: 0.13rem;
  align-self: center;
  width: 3rem;
  height: 1.5rem;
}
.group_3 {
  margin-top: 3.13rem;
  padding-bottom: 0.063rem;
  position: relative;
}
.section_2 {
  padding: 1.13rem 0;
  filter: drop-shadow(0px 0.88rem 1.88rem #287eec1a);
  background-image: url('../../img/6c06366bde2af24356c0c06fe755ed28.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 15rem;
  height: 15rem;
  position: relative;
}
.image_9 {
  width: 9.25rem;
  height: 6.25rem;
  position: absolute;
  right: 0.19rem;
  bottom: 0;
}
.section_3 {
  padding: 0.88rem 0.88rem;
  background-image: url('../../img/0cc0224549fa59281d9eded9ff50308c.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.space-y-25 > *:not(:first-child) {
  margin-top: 1.56rem;
}
.group_4 {
  padding: 0 2.69rem;
}
.section_4 {
  align-self: center;
  background-color: #ffffff66;
  border-radius: 0.063rem;
  width: 0.13rem;
  height: 0.38rem;
}
.group_5 {
  padding-top: 0.31rem;
}
.image_6 {
  opacity: 0.4;
  width: 0.31rem;
  height: 0.44rem;
}
.section_5 {
  align-self: center;
  background-color: #ffffff66;
  border-radius: 0.063rem;
  width: 0.38rem;
  height: 0.13rem;
}
.space-y-80 > *:not(:first-child) {
  margin-top: 5rem;
}
.image_7 {
  opacity: 0.4;
  width: 0.44rem;
  height: 0.31rem;
}
.image-wrapper {
  margin: 0.19rem 0 0.19rem 1.75rem;
  padding: 0.25rem 0 0.31rem;
  border-radius: 0px;
  width: 5.25rem;
  height: 5.25rem;
}
.image_8 {
  width: 3.63rem;
  height: 4.69rem;
}
.group_6 {
  margin-left: 1.75rem;
}
.space-x-5 > *:not(:first-child) {
  margin-left: 0.31rem;
}
.group_7 {
  padding-bottom: 0.31rem;
}
.space-x-80 > *:not(:first-child) {
  margin-left: 5rem;
}
.image_10 {
  width: 0.94rem;
  height: 0.94rem;
  position: absolute;
  left: 9.38rem;
  bottom: 0;
}
.group_8 {
  margin-top: 2.56rem;
  padding-left: 1.38rem;
  padding-right: 1.19rem;
}
.text-wrapper {
  margin-right: 8.38rem;
  padding: 0.38rem 0 0.56rem;
  align-self: flex-end;
  background-image: url('../../img/5399508761ead98030b1d3fe49399fde.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 2.25rem;
}
.text_5 {
  color: #ffffff;
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.63rem;
  letter-spacing: -0.022rem;
}
.group_9 {
  padding-top: 0.19rem;
}
.text_6 {
  margin: 0.25rem 0;
}
.section_6 {
  margin-left: 0.63rem;
  padding: 0.13rem 0;
  flex: 1 1 auto;
  background-color: #ffffff;
  border-radius: 0.63rem;
  height: 1.25rem;
}
.image-wrapper_2 {
  margin-left: 0.13rem;
  padding: 0.13rem 0;
  background-color: #509cfe;
  border-radius: 0.5rem;
  width: 9.63rem;
}
.image_11 {
  margin-right: 0.13rem;
  width: 0.75rem;
  height: 0.75rem;
}
.text_7 {
  margin: 0.25rem 0 0.25rem 0.75rem;
}
.group_10 {
  margin-top: 4.13rem;
  padding: 0 2.38rem;
}
.image_12 {
  width: 2.5rem;
  height: 2.5rem;
}
.image_13 {
  margin-right: 5.19rem;
}
.group_11 {
  margin-top: 1.81rem;
  padding-bottom: 3.63rem;
  position: relative;
}
.image_14 {
  filter: drop-shadow(0px 0.19rem 0.75rem #509cfe47);
  width: 3.56rem;
  height: 3.63rem;
}
.section_7 {
  padding: 1.56rem 2.5rem 2.25rem;
  filter: drop-shadow(0px -0.38rem 1.75rem #509cfe24);
  background-image: url('../../img/1c423680155d59e624f30000319e0821.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 2.06rem;
}
.space-x-42 > *:not(:first-child) {
  margin-left: 2.63rem;
}
.image_16 {
  width: 1.25rem;
  height: 1.25rem;
}
.image_17 {
  width: 1.38rem;
  height: 1.38rem;
}
.space-x-45 > *:not(:first-child) {
  margin-left: 2.81rem;
}
.image_18 {
  width: 1.13rem;
  height: 1.38rem;
}
.image_19 {
  width: 1.13rem;
  height: 1.25rem;
}
.image_15 {
  width: 1.31rem;
  height: 1.25rem;
  position: absolute;
  top: 1.19rem;
  left: 50%;
  transform: translateX(-50%);
}