.page {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.section {
  padding-left: 1.75rem;
  padding-bottom: 11.25rem;
  background-color: #ececec;
}
.group {
  padding: 1.06rem 0 1.5rem;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.group_2 {
  padding: 0 0.25rem;
}
.text {
  color: #080808;
  font-size: 0.94rem;
  font-family: SFUIDisplay-Semibold;
  font-weight: 600;
  line-height: 0.69rem;
}
.group_3 {
  margin-right: 0.69rem;
}
.image {
  width: 1.06rem;
  height: 0.69rem;
}
.image_2 {
  width: 0.94rem;
  height: 0.69rem;
}
.image_3 {
  width: 1.5rem;
  height: 0.72rem;
}
.space-x-52 > *:not(:first-child) {
  margin-left: 3.25rem;
}
.image_4 {
  background-color: #e5e3e4;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
}
.group_4 {
  align-self: center;
}
.image_6 {
  width: 1.25rem;
  height: 1.25rem;
}
.image_7 {
  flex-shrink: 0;
}
.font_1 {
  font-size: 0.81rem;
  font-family: PingFang SC Regular;
  line-height: 0.81rem;
  color: #323232;
}
.text_2 {
  margin: 0.19rem 0 0.25rem 0.25rem;
  font-size: 0.88rem;
}
.image_8 {
  flex-shrink: 0;
}
.image_5 {
  width: 2.75rem;
  height: 2.75rem;
}
.section_2 {
  padding: 0.75rem 1.13rem;
  align-self: flex-start;
  background-color: #e6e4e5;
  border-radius: 1.38rem;
}
.text_3 {
  margin: 0.19rem 9.38rem 0.25rem 0.75rem;
  font-size: 0.88rem;
  opacity: 0.5;
}
.group_5 {
  margin-top: 1.63rem;
}
.space-x-20 > *:not(:first-child) {
  margin-left: 1.25rem;
}
.text-wrapper {
  padding: 0.94rem 0;
  background-color: #e6e4e5;
  border-radius: 1.38rem;
  width: 4.13rem;
  height: 2.63rem;
}
.font_2 {
  font-size: 0.81rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
  color: #323232;
}
.text_4 {
  line-height: 0.75rem;
}
.text-wrapper_2 {
  padding: 0.94rem 0;
  background-color: #674853;
  border-radius: 1.38rem;
  background-image: url('../../img/6f36f6ac8f939bc1b2e399cdc81496e8.png');
  background-position: 0% 0%;
  background-size: 4.94rem 2.63rem;
  background-repeat: no-repeat;
  width: 4.94rem;
  height: 2.63rem;
}
.font_3 {
  font-size: 0.81rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
  color: #ffffff;
}
.text_5 {
  line-height: 0.75rem;
}
.text-wrapper_3 {
  padding: 1rem 0 0.94rem;
  background-color: #e6e4e5;
  border-radius: 1.38rem;
  width: 4.13rem;
  height: 2.63rem;
}
.font_4 {
  font-size: 0.81rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
  color: #333333;
}
.text_6 {
  line-height: 0.72rem;
}
.text-wrapper_4 {
  padding: 0.94rem 0;
  background-color: #e6e4e5;
  border-radius: 1.38rem 0 0 1.38rem;
  width: 4.75rem;
  height: 2.63rem;
}
.text_7 {
  line-height: 0.75rem;
}
.group_6 {
  margin-top: -9.63rem;
  padding-top: 9.63rem;
  position: relative;
}
.section_4 {
  padding-top: 11.19rem;
  background-color: #fdfdfd;
}
.group_8 {
  padding: 0 1.75rem;
}
.space-y-20 > *:not(:first-child) {
  margin-top: 1.25rem;
}
.font_5 {
  font-size: 1rem;
  font-family: PingFang SC Bold;
  line-height: 0.94rem;
  font-weight: 700;
  color: #323232;
}
.text_10 {
  margin: 0.25rem 0;
}
.image_11 {
  width: 1.38rem;
  height: 1.38rem;
}
.space-x-15 > *:not(:first-child) {
  margin-left: 0.94rem;
}
.equal-division-item {
  flex: 1 1 6rem;
  padding: 1rem 0;
  background-color: #ffffff;
  border-radius: 1.13rem;
  box-shadow: 0px 0px 0.88rem #7b7b7b1f;
  height: 5.25rem;
  position: relative;
}
.image_12 {
  width: 2rem;
  height: 2rem;
}
.text_11 {
  font-size: 0.75rem;
}
.section_5 {
  padding: 1.13rem 2.38rem 1.19rem;
  background-color: #ffffff;
  border-radius: 1.75rem 1.75rem 0px 0px;
  box-shadow: 0px -0.25rem 1.13rem #7b7b7b1a;
}
.space-x-26 > *:not(:first-child) {
  margin-left: 1.63rem;
}
.section_6 {
  padding: 0.63rem 1rem;
  background-color: #62474c;
  border-radius: 1.44rem;
  background-image: url('../../img/8cbc55f67cf724a29da40595c368ff99.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 7.5rem;
  height: 2.88rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.image_13 {
  flex-shrink: 0;
  width: 1.63rem;
  height: 1.63rem;
}
.text_12 {
  align-self: center;
  font-size: 0.75rem;
}
.image_14 {
  align-self: center;
  width: 1.75rem;
  height: 1.75rem;
}
.section_3 {
  padding: 0.63rem 0.63rem 1.13rem;
  background-color: #ffffff;
  border-radius: 2rem;
  box-shadow: 0px 0.5rem 1.13rem #7b7b7b1a;
  position: absolute;
  left: 1.75rem;
  top: 0;
}
.space-y-26 > *:not(:first-child) {
  margin-top: 1.63rem;
}
.image_9 {
  width: 13.88rem;
  height: 12.63rem;
}
.group_7 {
  padding: 0 1.25rem;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.5rem;
}
.space-y-5 > *:not(:first-child) {
  margin-top: 0.31rem;
}
.text_8 {
  color: #9a9a9a;
  font-size: 0.75rem;
}
.space-x-9 > *:not(:first-child) {
  margin-left: 0.56rem;
}
.image_10 {
  margin-bottom: 0.13rem;
  width: 4.25rem;
  height: 0.75rem;
}
.text_9 {
  line-height: 0.84rem;
}