.page {
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 45%, #f8f9fb 49%, #f7f8fa 100%);
  border-radius: 0px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.space-y-26 > *:not(:first-child) {
  margin-top: 1.63rem;
}
.group {
  padding: 0.44rem 0.88rem 0.94rem 1.31rem;
  border-radius: 0px;
}
.text-wrapper {
  padding: 0.38rem 0;
  border-radius: 0px;
  width: 3.38rem;
  height: 1.38rem;
}
.text {
  color: #000000;
  font-size: 0.94rem;
  font-family: Myriad Pro;
  line-height: 0.63rem;
  letter-spacing: -0.019rem;
}
.group_2 {
  margin-top: 0.63rem;
}
.image {
  width: 1.06rem;
  height: 0.75rem;
}
.image_2 {
  width: 1rem;
  height: 0.75rem;
}
.image_3 {
  width: 1.56rem;
  height: 0.75rem;
}
.group_3 {
  padding-top: 0.31rem;
}
.group_4 {
  padding: 0 1.25rem;
}
.section {
  padding: 0.63rem 0.81rem;
  flex: 1 1 auto;
  background-color: #f1f5f8;
  border-radius: 1.06rem;
  height: 2.13rem;
}
.space-x-5 > *:not(:first-child) {
  margin-left: 0.31rem;
}
.image_5 {
  width: 0.88rem;
  height: 0.88rem;
}
.text_2 {
  color: #a2a5ac;
  font-size: 0.88rem;
  font-family: PingFangSC;
  line-height: 0.88rem;
}
.image_4 {
  margin-right: 0.13rem;
  flex-shrink: 0;
  align-self: center;
  width: 1.38rem;
  height: 1.38rem;
}
.group_5 {
  margin-top: 1.31rem;
}
.group_6 {
  padding: 0 1.19rem 0.44rem 1.25rem;
}
.font_1 {
  font-size: 0.94rem;
  font-family: PingFang SC Regular;
  line-height: 0.94rem;
  color: #989898;
}
.font_2 {
  font-size: 0.94rem;
  font-family: PingFang SC Bold;
  line-height: 0.94rem;
  color: #333333;
}
.divider {
  padding: 0 1.38rem;
}
.space-x-41 > *:not(:first-child) {
  margin-left: 2.56rem;
}
.section_2 {
  background-color: #ffffff;
  border-radius: 0.094rem;
  width: 1.5rem;
  height: 0.19rem;
}
.section_3 {
  background-color: #5ecab2;
  border-radius: 0.13rem;
  width: 1.13rem;
  height: 0.25rem;
}
.image_6 {
  margin: 0.75rem 1.25rem 0;
  width: 20.94rem;
  height: 8.75rem;
}
.divider_2 {
  margin-top: 0.63rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.section_4 {
  background-color: #f3f3f3;
  border-radius: 0.094rem;
  width: 0.75rem;
  height: 0.19rem;
}
.section_5 {
  background-color: #e6e6e6;
  border-radius: 0.094rem;
  width: 0.75rem;
  height: 0.19rem;
}
.equal-division {
  margin-top: 0.88rem;
  padding: 0 0.88rem;
}
.space-x-8 > *:not(:first-child) {
  margin-left: 0.5rem;
}
.equal-division-item {
  flex: 1 1 4.31rem;
  padding: 0.25rem 0 0.38rem;
}
.space-y-13 > *:not(:first-child) {
  margin-top: 0.81rem;
}
.image_7 {
  width: 2rem;
  height: 2rem;
}
.font_3 {
  font-size: 0.75rem;
  font-family: PingFangSC;
  line-height: 0.69rem;
  color: #333333;
}
.text_3 {
  font-size: 0.69rem;
}
.section_6 {
  margin: 1.25rem 1.25rem 0;
  padding: 0 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.group_7 {
  padding: 0.94rem 0.063rem 0.88rem;
  border-bottom: solid 0.063rem #f7f7f7;
}
.text_4 {
  font-size: 1rem;
  line-height: 1rem;
}
.group_8 {
  flex-shrink: 0;
  width: 1.19rem;
  position: relative;
}
.view {
  margin-left: 0.5rem;
}
.section_7 {
  background-color: #f2f3f5;
  border-radius: 0.13rem;
  height: 1.06rem;
}
.font_4 {
  font-size: 0.75rem;
  font-family: PingFang SC Heavy;
  line-height: 0.69rem;
  color: #323232;
}
.text_5 {
  width: 1.06rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text_6 {
  line-height: 0.56rem;
}
.font_5 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.44rem;
  color: #333333;
}
.text_10 {
  margin-left: 0.25rem;
  align-self: center;
}
.text_7 {
  line-height: 0.63rem;
}
.text_11 {
  margin-left: 0.25rem;
  align-self: center;
}
.text_8 {
  line-height: 0.63rem;
}
.group_9 {
  margin: 0.19rem 0.13rem 0.13rem 0;
}
.space-x-4 > *:not(:first-child) {
  margin-left: 0.25rem;
}
.text_9 {
  color: #adadad;
  line-height: 0.75rem;
}
.image_8 {
  flex-shrink: 0;
  width: 0.38rem;
  height: 0.69rem;
}
.group_10 {
  padding: 0.75rem 0 1rem;
}
.space-x-20 > *:not(:first-child) {
  margin-left: 1.25rem;
}
.group_11 {
  flex: 1 1 auto;
}
.section_8 {
  padding-top: 0.25rem;
  flex-shrink: 0;
  background-color: #d3fae9;
  border-radius: 0.5rem;
  width: 5rem;
  height: 5rem;
  position: relative;
}
.image_9 {
  width: 3rem;
  height: 4.75rem;
}
.text-wrapper_3 {
  padding: 0.25rem 0;
  background-image: url('../../img/7cffa11833532d653f5ece26f79ca925.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 3.88rem;
}
.font_6 {
  font-size: 0.63rem;
  font-family: PingFang SC Regular;
  line-height: 0.69rem;
  color: #ffffff;
}
.text_16 {
  line-height: 0.63rem;
}
.group_12 {
  margin: 0.19rem 0 0.19rem 1rem;
  flex: 1 1 auto;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.text_12 {
  color: #313131;
  font-size: 1rem;
  line-height: 1rem;
}
.text_13 {
  align-self: flex-start;
  color: #666666;
  font-size: 0.69rem;
}
.group_13 {
  padding-top: 0.31rem;
  position: relative;
}
.group_14 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.text_17 {
  margin-top: 0.31rem;
  color: #ec693b;
  font-size: 0.75rem;
  font-family: DIN;
  font-weight: 500;
  line-height: 0.56rem;
}
.text_14 {
  color: #ec693b;
  font-size: 1.13rem;
  font-family: DIN;
  font-weight: 700;
  line-height: 0.94rem;
}
.text_18 {
  color: #cbcbcb;
  font-size: 0.69rem;
  font-family: PingFang SC Medium;
  line-height: 0.63rem;
}
.text-wrapper_2 {
  margin-top: 3.44rem;
  padding: 0.44rem 0 0.38rem;
  flex-shrink: 0;
  background-color: #fdf4ef;
  border-radius: 0.78rem;
  width: 4.5rem;
  height: 1.56rem;
}
.text_15 {
  color: #ea693f;
  line-height: 0.75rem;
}
.group_15 {
  margin-right: 2.25rem;
  margin-top: 1.81rem;
  align-self: flex-end;
  border-radius: 0px;
  width: 0.75rem;
  height: 1.06rem;
}
.group_16 {
  margin-top: 5rem;
  padding: 0 2.38rem;
}
.space-y-15 > *:not(:first-child) {
  margin-top: 0.94rem;
}
.text_19 {
  margin-left: 1.13rem;
  align-self: flex-start;
}
.section_9 {
  background-color: #f7f7f7;
  border-radius: 0px;
  height: 0.063rem;
}
.equal-division_2 {
  padding: 0.19rem 0 2.38rem;
  background-color: #ffffff;
  box-shadow: 0px -0.063rem #0000001a;
  border-radius: 0px;
}
.equal-division-item_2 {
  flex: 1 1 5.88rem;
  padding: 0.31rem 0;
}
.image_10 {
  border-radius: 0px;
  width: 1.5rem;
  height: 1.5rem;
}
.font_7 {
  font-size: 0.63rem;
  font-family: PingFangSC;
  letter-spacing: -0.015rem;
  line-height: 0.44rem;
  color: #bbbabf;
}
.text_20 {
  color: #5ecdab;
}