.page {
  background-color: #eff1e7;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.header {
  padding: 2.75rem 1.44rem 0.81rem 1.5rem;
  height: 4.94rem;
}
.image_2 {
  margin: 0.25rem 0 0.31rem;
  width: 1.69rem;
  height: 0.81rem;
}
.image {
  width: 1.25rem;
  height: 1.38rem;
}
.group {
  flex: 1 1 auto;
  overflow-y: auto;
}
.space-y-22 > *:not(:first-child) {
  margin-top: 1.38rem;
}
.group_2 {
  padding: 0 1.44rem;
  position: relative;
}
.image-wrapper {
  padding: 8.88rem 0 7rem;
  background-image: url('../../img/3b00dd30036fae9a05481b50f2e0c17b.png');
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 10.63rem;
}
.image_3 {
  margin-right: 0.25rem;
  mix-blend-mode: MULTIPLY;
  width: 9rem;
  height: 2.44rem;
}
.image_4 {
  position: absolute;
  right: 1.44rem;
  bottom: 0;
  width: 2.75rem;
  height: 2.75rem;
}
.section {
  padding: 1.75rem 0 2.25rem;
  background-color: #ffffff;
  border-radius: 1.88rem 1.88rem 0 0;
}
.group_3 {
  padding-left: 1.44rem;
  padding-right: 1.25rem;
}
.space-y-27 > *:not(:first-child) {
  margin-top: 1.69rem;
}
.font_1 {
  font-size: 1.19rem;
  font-family: Raleway;
  line-height: 0.88rem;
  font-weight: 600;
}
.text_2 {
  margin-top: 0.25rem;
  color: #000000;
}
.text {
  color: #000000;
  font-size: 1.25rem;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.22rem;
}
.group_4 {
  height: 1.5rem;
}
.image_5 {
  margin-top: 0.44rem;
  flex-shrink: 0;
  width: 5.88rem;
  height: 1.06rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: Raleway;
  line-height: 0.56rem;
  font-weight: 600;
  color: #000000;
}
.text_3 {
  margin-left: 6.63rem;
  margin-top: -1.5rem;
}
.text_4 {
  color: #000000;
  font-size: 1.06rem;
  font-family: Raleway;
  line-height: 1.25rem;
}
.text_5 {
  align-self: flex-start;
}
.group_5 {
  margin-top: 1.31rem;
  padding: 0 1rem;
}
.image-wrapper_2 {
  width: 2.5rem;
}
.image_6 {
  width: 2.5rem;
  height: 2.5rem;
}
.section_2 {
  margin-left: 1.06rem;
  align-self: center;
  background-color: #f8a615;
  border-radius: 50%;
  width: 1.63rem;
  height: 1.63rem;
}
.section_3 {
  margin-left: 1.56rem;
  align-self: center;
  background-color: #f42f20;
  border-radius: 50%;
  width: 1.63rem;
  height: 1.63rem;
}
.button {
  margin: 1.13rem 1.44rem 0;
  padding: 1.25rem 0;
  background-color: #ac925d;
  border-radius: 1rem;
}
.space-x-14 > *:not(:first-child) {
  margin-left: 0.88rem;
}
.text_6 {
  align-self: center;
  color: #ffffff;
}