* {
    /* 初始化 取消页面的内外边距 */
    padding: 0;
    margin: 0;
}


.box {
    /* 相对定位 */
    position: relative;
    width: 600px;
    height: 375px;
    /* 背景图片 */
    background: url(../images/1.jpg);
    /* 背景图片自适应宽和高 */
    background-size: contain;
    /* 溢出隐藏 */
    overflow: hidden;
}

.box::before {

    content: '火影忍者sss - 鸣人';
    
    position: absolute;
    top: -375px;
    left: 0;
    width: 600px;
    height: 375px;

    line-height: 375px;
    text-align: center;
    font-size: 30px;
    color: #fff;

    background-color: rgba(255, 56, 56, 0.2);
}

.box:hover::before {
    top: 0;
    /* 动画 名称   时长 */
    animation: dropdown 1s;
}

/* 下面定义下降动画 */
@keyframes dropdown {
    0% {
        top: -175px;
    }

  

    100% {
        top: 0;
    }
}