.page {
  background-color: #f9f9f9;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.space-y-130 > *:not(:first-child) {
  margin-top: 8.13rem;
}
.space-y-16 > *:not(:first-child) {
  margin-top: 1rem;
}
.group {
  position: relative;
}
.section {
  opacity: 0.5;
  background-image: linear-gradient(132.3098deg, #f6f7fc 0%, #f6f7fc 4%, #2fe6cc4d 100%);
  border-radius: 0px;
  background-color: #ffffff;
  height: 13.13rem;
}
.section_2 {
  padding: 0.44rem 0.88rem 0.94rem 1.31rem;
  border-radius: 0px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.text-wrapper {
  padding: 0.38rem 0;
  border-radius: 0px;
  width: 3.38rem;
  height: 1.38rem;
}
.text {
  color: #000000;
  font-size: 0.94rem;
  font-family: Myriad Pro;
  line-height: 0.63rem;
  letter-spacing: -0.019rem;
}
.group_2 {
  margin-top: 0.63rem;
}
.image {
  width: 1.06rem;
  height: 0.75rem;
}
.image_2 {
  width: 1rem;
  height: 0.75rem;
}
.image_3 {
  width: 1.56rem;
  height: 0.75rem;
}
.group_3 {
  position: absolute;
  left: 0;
  right: 1.38rem;
  top: 2.75rem;
}
.space-x-8 > *:not(:first-child) {
  margin-left: 0.5rem;
}
.group_4 {
  width: 7.5rem;
  height: 2.75rem;
}
.image_4 {
  align-self: center;
  width: 1.25rem;
  height: 1.25rem;
}
.group_5 {
  width: 10.13rem;
  position: absolute;
  left: 1.25rem;
  top: 5.5rem;
}
.space-x-12 > *:not(:first-child) {
  margin-left: 0.75rem;
}
.image_5 {
  flex-shrink: 0;
  width: 3.38rem;
  height: 3.38rem;
}
.group_6 {
  flex: 1 1 auto;
  align-self: center;
}
.text_2 {
  color: #333333;
  font-size: 1.13rem;
  font-family: PingFang SC Bold;
  line-height: 1.06rem;
}
.font_1 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.75rem;
  color: #333333;
}
.text_3 {
  color: #999999;
}
.section_3 {
  padding: 0 1rem 0.19rem;
  background-image: url('../../img/43d6a302185a1f061f5ab5725e28c576.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  top: 10.38rem;
}
.image_7 {
  flex-shrink: 0;
  align-self: center;
  width: 1.25rem;
  height: 1.38rem;
}
.font_2 {
  font-size: 0.88rem;
  font-family: PingFang SC Bold;
  line-height: 0.88rem;
  color: #343434;
}
.text_4 {
  margin-left: 0.38rem;
  align-self: center;
  color: #323232;
}
.image_6 {
  flex-shrink: 0;
  width: 2.63rem;
  height: 2.56rem;
}
.group_7 {
  align-self: center;
}
.space-x-4 > *:not(:first-child) {
  margin-left: 0.25rem;
}
.text_5 {
  color: #323234;
  font-size: 0.81rem;
  line-height: 0.81rem;
}
.image_8 {
  margin-bottom: 0.13rem;
  flex-shrink: 0;
  width: 0.38rem;
  height: 0.63rem;
}
.group_8 {
  padding: 0 1.25rem;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 0.88rem;
}
.section_4 {
  padding-bottom: 0.94rem;
  background-color: #ffffff;
  box-shadow: 0px 0.13rem 0.44rem #8080800a;
  border-radius: 0.5rem;
}
.group_9 {
  padding: 0.94rem 0.88rem;
}
.group_10 {
  margin-right: 0.19rem;
  margin-top: 0.13rem;
}
.font_3 {
  font-size: 0.75rem;
  font-family: PingFang SC Regular;
  line-height: 0.75rem;
  color: #9a9a9a;
}
.image_9 {
  margin-bottom: 0.13rem;
  flex-shrink: 0;
  width: 0.38rem;
  height: 0.56rem;
}
.divider {
  margin: 0 0.88rem;
  background-color: #f6f6f6;
  border-radius: 0px;
  height: 0.063rem;
}
.equal-division {
  margin-top: 0.94rem;
  padding: 0 0.13rem;
}
.space-x-2 > *:not(:first-child) {
  margin-left: 0.13rem;
}
.equal-division-item {
  flex: 1 1 6.88rem;
  padding: 0.31rem 0.56rem;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 0.75rem;
}
.space-x-6 > *:not(:first-child) {
  margin-left: 0.38rem;
}
.font_4 {
  font-size: 1.13rem;
  font-family: DIN;
  line-height: 0.88rem;
  font-weight: 700;
  color: #333333;
}
.text_6 {
  line-height: 0.94rem;
}
.text_7 {
  margin-top: 0.13rem;
}
.text_8 {
  align-self: center;
  font-size: 0.69rem;
  line-height: 0.69rem;
}
.section_5 {
  padding: 0.94rem 0;
  background-color: #ffffff;
  box-shadow: 0px 0.13rem 0.44rem #8080800a;
  border-radius: 0.5rem;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 0.5rem;
}
.text_9 {
  margin-left: 0.88rem;
  align-self: flex-start;
}
.equal-division_2 {
  padding: 0 0.44rem;
}
.space-x-5 > *:not(:first-child) {
  margin-left: 0.31rem;
}
.equal-division-item_2 {
  flex: 1 1 5rem;
  padding: 0.44rem 0 0.31rem;
}
.space-y-11 > *:not(:first-child) {
  margin-top: 0.69rem;
}
.image_10 {
  border-radius: 0px;
  width: 1.5rem;
  height: 1.5rem;
}
.image_11 {
  width: 1.5rem;
  height: 1.5rem;
}
.section_6 {
  padding: 0.94rem 0.88rem 1.25rem;
  background-color: #ffffff;
  box-shadow: 0px 0.13rem 0.44rem #8080800a;
  border-radius: 0.5rem;
}
.space-y-15 > *:not(:first-child) {
  margin-top: 0.94rem;
}
.text_10 {
  align-self: flex-start;
}
.group_11 {
  padding: 0 1.44rem;
}
.space-x-58 > *:not(:first-child) {
  margin-left: 3.63rem;
}
.image_12 {
  width: 1.38rem;
  height: 1.25rem;
}
.group_12 {
  padding: 0 0.63rem;
}
.space-x-43 > *:not(:first-child) {
  margin-left: 2.69rem;
}
.equal-division_3 {
  padding: 0.19rem 0 0.25rem;
  background-color: #ffffff;
  box-shadow: 0px -0.063rem #0000001a;
  border-radius: 0px;
}
.equal-division-item_3 {
  flex: 1 1 5.88rem;
  padding: 0.31rem 0;
}
.font_5 {
  font-size: 0.63rem;
  font-family: PingFangSC;
  letter-spacing: -0.015rem;
  line-height: 0.44rem;
  color: #bbbabf;
}
.text_11 {
  color: #5ecab2;
}